mat-form-field{
  width:100%;
  margin-bottom: 25px;
  color: blue;
  font-size: smaller;
}

mat-spinner{
  margin: auto;
}
mat-card{
  margin: auto;
  width: 250px;
  margin-top: 150px;
  background-color: rgb(255, 255, 255);
  
}
mat-card-actions{
 padding: 0px 95px;
}

mat-card-title{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bolder;
  margin-bottom: 30px;
  margin-top: 15px;

}